<!-- Footer with Syriaca.org branding -->
<footer xmlns="http://www.w3.org/1999/xhtml">
	<div class="row">
        <div class="col-md-11 col-md-offset-1">
            <p>The <em>Architectura Sinica</em> project was made possible by these institutions and sponsors:</p>
            <div class="sponsors">
                <a href="https://www.neh.gov/" class="logo" target="_blank">
                    <img src="resources/img/neh-logo.png"/>
                </a>
                <a href="http://www.library.vanderbilt.edu/" class="logo" target="_blank">
                    <img src="resources/img/heard-library-logo.png"/>
                </a>
                <a href="http://www.grahamfoundation.org/" class="logo" target="_blank">
                    <img src="resources/img/gf-logo.png"/>
                </a>
                <a href="https://as.vanderbilt.edu/" class="logo" target="_blank">
                    <img src="resources/img/vanderbilt-cas-logo.png"/>
                </a>
                <a href="https://as.vanderbilt.edu/historyart/" class="logo" target="_blank">
                    <img src="resources/img/hart-logo.png"/>
                </a>
            </div>
            <br class="clear"/>
             <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US" class="license">
                <img alt="Creative Commons License" style="border-width:0" src="$app-root/resources/img/cc.png" height="18px"/>
            </a> 
            <br class="clear"/>
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank">Creative Commons Attribution 3.0 Unported License</a>.
            <br/>Copyright Vanderbilt University, Princeton University, and the Contributor(s), 2014.
        </div>
    </div>
</footer>